@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to GitDrunk!</h1>
    <p class="lead">Here we be bloggin bout groggin.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Blog</h2>
        <p>Leave a blog about a bar you visited.</p>
        <p>@Html.ActionLink("Write", "Create", "Blogs")</p>
    </div>
    <div class="col-md-4">
        <h2>Details</h2>
        <p>Find a bar</p>
        <p>@Html.ActionLink("Review a bar", "Index", "Blogs")</p>
    </div>
    <div class="col-md-4">
        <h2>Donate</h2>
        <p>We are thirsty.</p>
        <p>@Html.ActionLink("Donate", "#")</p>
    </div>
</div>